
h1   {
    text-align: center;
       background-image: url("https://us.123rf.com/450wm/sylverarts/sylverarts1502/sylverarts150200902/36403887-acoustic-guitars-music-theme-seamless-background-seamless-pattern-vector.jpg?ver=6");
       width: 100%;
       height: 200px;
       color: white;
       font-size: 50px;
}
 